* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  background-color: #0E1117;
  color: #c9d2d9;

}

#container {
  margin: 100px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 150px;

}

#Photo {
  border: 1px solid white;
  position: relative;

  height: auto; 
}

#Info {
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
}

.social-media p {
  margin: 0;
  margin-bottom: 6px;
}

img {
  position: absolute;
  top: 0;
}