* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  background-color: #0E1117;
  color: #c9d2d9;

}

#container {
  margin: 100px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 150px;
  display: flex;
  justify-content: center;
  z-index: 1;
}

#Photo {
  /* border: 1px solid white; */
  margin-bottom: 20px;
  position: relative;
  display: flex;   
  justify-content: center;
  align-items: center;
  height: auto;
  max-height: 400px;
  overflow: hidden;
}

#Info {
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-around;
}

.social-media p {
  margin: 0;
  margin-bottom: 6px;
}

img {
  position: absolute;
  /* max-width: 400px; */
  /* max-height: 400px; */
  z-index: -1; 
}

textarea#Message {
  height: 80px;
  width: 180px;
}

input#Name {
  height: 20px;
  width: 180px;
}